In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
#df = pd.read_csv('/data/CC_fraudTrain.csv')
df = pd.read_csv('/data/prepared.csv')

In [3]:
#df.drop('Unnamed: 0', inplace=True, axis=1)

In [4]:
df.head()

,category,amt,zip,lat,long,city_pop,merch_lat,merch_long,age,hour,day,month,is_fraud
0,grocery_pos,281.06,28611,35.9946,-81.7266,885,36.430124,-81.179483,31,1,2,1,1
1,gas_transport,11.52,78208,29.4400,-98.4590,1595797,29.819364,-99.142791,59,1,2,1,1
2,grocery_pos,276.31,78208,29.4400,-98.4590,1595797,29.273085,-98.836360,59,3,2,1,1
3,gas_transport,7.03,28611,35.9946,-81.7266,885,35.909292,-82.091010,31,3,2,1,1
4,grocery_pos,275.73,78208,29.4400,-98.4590,1595797,29.786426,-98.683410,59,3,2,1,1

In [5]:
df.shape

(19302, 13)

In [6]:
profile = ProfileReport(df,minimal=True,
                       title="Credit Fraud dataset",
                       dataset={
        "description": "This dataset is about to credit card fraud and which include around 13 feature and 1 target.",
        "Date": "27th December 2021",
        "Source": "Kaggle",
    })

In [8]:
profile.to_file("/data/data_profile.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]