In [1]:
# !pip install '/data/snowflake_ml_python-0.2.3-py3-none-any.whl'
# !pip install refractml
# !pip install matplotlib
# !pip install seaborn
# !pip uninstall pandas -y
# !pip install pandas==1.5.3

In [4]:
import snowflake.connector
import snowflake.snowpark
import snowflake.ml.preprocessing as snowml
from snowflake.snowpark import Session
from snowflake.snowpark.version import VERSION
from snowflake.ml.utils import connection_params
from snowflake.ml.metrics.correlation import correlation
from snowflake.connector.pandas_tools import write_pandas
from snowflake.ml.framework.pipeline import Pipeline
from snowflake.ml.modeling.xgboost import XGBClassifier
from snowflake.ml.modeling.ensemble import RandomForestClassifier
from snowflake.ml.preprocessing import MinMaxScaler, OneHotEncoder, OrdinalEncoder
from snowflake.ml.modeling.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np
import pandas as pd
import configparser
import warnings; warnings.simplefilter('ignore')
from snowflake.ml.preprocessing import StandardScaler, OneHotEncoder

In [5]:
config = configparser.ConfigParser()
config.read("snowflake_connection.ini")

connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": f'{config["Snowflake"]["password"]}',
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'SALES'
}

def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [7]:
df = pd.read_csv("/data/prepared.csv")

In [8]:
df

,category,amt,zip,lat,long,city_pop,merch_lat,merch_long,age,hour,day,month,is_fraud
0,grocery_pos,281.06,28611,35.9946,-81.7266,885,36.430124,-81.179483,31,1,2,1,1
1,gas_transport,11.52,78208,29.4400,-98.4590,1595797,29.819364,-99.142791,59,1,2,1,1
2,grocery_pos,276.31,78208,29.4400,-98.4590,1595797,29.273085,-98.836360,59,3,2,1,1
3,gas_transport,7.03,28611,35.9946,-81.7266,885,35.909292,-82.091010,31,3,2,1,1
4,grocery_pos,275.73,78208,29.4400,-98.4590,1595797,29.786426,-98.683410,59,3,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19297,gas_transport,62.58,29455,32.8357,-79.8217,20478,32.418947,-78.873660,22,10,3,2,0
19298,misc_net,273.25,14711,42.3200,-78.0943,1766,41.831789,-77.151160,58,8,3,10,0
19299,misc_pos,2.74,53129,42.9373,-87.9943,13973,42.604173,-88.573357,38,7,4,12,0
19300,shopping_net,161.28,40077,38.4921,-85.4524,564,38.225422,-85.135045,23,16,1,12,0
19301,kids_pets,163.68,44233,41.2419,-81.7453,7646,41.654965,-80.811580,31,22,4,3,0

In [9]:
# code to write data to snowflake table
df = pd.read_csv("/data/prepared.csv")
df.columns = map(str.upper, df.columns)
session.write_pandas(df, table_name="CREDIT_FRAUD", auto_create_table=True)

In [10]:
session.write_pandas(df, table_name="CREDIT_FRAUD_BASE", auto_create_table=True)